/* css for the copy to clipboard functionality */

.colour-copy-hex-button {
  width: 120px;
  height: 40px;
  border: none;
  margin: 45px 0 0 5px;
  background-color: var(--colour-card-headline-bg);
  color: var(--colour-copy-button-text);
  font-weight: bold;
  cursor: pointer;
}

.success {
  margin: -25px 0 0 0;
  font-size: 0.5;
  line-height: 1%;
}
