@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.colour-creator-container {
  position: absolute;
  top: 105px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px 0 0 0;
}

.colour-creator-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--colour-form-bg);
  position: relative;
}

.colour-creator-label {
  font-size: 1.1rem;
  color: var(--colour-form-text);
}

.colour-creator-roleText,
.colour-creator-hexText,
.colour-creator-contrastText {
  width: 200px;
  color: var(--colour-form-text);
  padding-left: 5px;
  margin-bottom: 5px;
}

.colour-creator-hex {
  position: absolute;
  top: 93px;
  left: 215px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.colour-creator-contrast {
  position: absolute;
  top: 154px;
  left: 215px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.colour-creator-contrastText {
  margin-bottom: 20px;
}

.colour-creator-button {
  border: none;
  background-color: var(--colour-form-text);
  color: var(--colour-form-button-text);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 4px;
  cursor: pointer;
}

.contrast-message {
  margin-bottom: 5px;
  color: var(--colour-form-text);
  font-weight: bold;
}
