.colour-creator-container {
  position: absolute;
  top: 105px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 30px;
  height: 400px;
}

.colour-creator-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--colour-form-bg);
  position: relative;
}

.colour-inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.colour-creator-label {
  font-size: 1.1rem;
  color: var(--colour-form-text);
}

.colour-creator-roleText,
.colour-creator-hexText,
.colour-creator-contrastText {
  width: 200px;
  color: var(--colour-form-text);
  padding-left: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}

.colour-creator-roleText[type="text"],
.colour-creator-hexText[type="text"],
.colour-creator-contrastText[type="text"] {
  background-color: var(--colour-input-bg);
  color: var(--colour-form-text);
}

.colour-creator-hex {
  position: absolute;
  top: 189px;
  left: 215px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.colour-creator-contrast {
  position: absolute;
  top: 246px;
  left: 215px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.colour-creator-contrastText {
  margin-bottom: 10px;
}

.colour-creator-button {
  border: none;
  background-color: var(--colour-form-text);
  color: var(--colour-form-button-text);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  margin: 55px 0 4px 0;
  cursor: pointer;
}

.contrast-message {
  position: absolute;
  bottom: 60px;
  left: 12px;
  color: var(--colour-form-text);
  font-weight: bold;
}

.colour-creator-select {
  margin: 10px 0;
  width: 200px;
  height: 30px;
  outline: none;
  border: none;
}

.colour-creator-select,
option {
  background-color: var(--colour-input-bg);
}
