header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to left top,
    #78d694,
    #90d888,
    #a7d97d,
    #bdd975,
    #d4d86f
  );
  width: 100%;
  height: 10vh;
  position: static;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 83% 64%, 0 100%);
}

h1 {
  font-size: 3.5rem;
  padding-left: 30px;
  color: var(--colour-form-text);
}
