#root {
  --colour-card-headline-bg: #6c4545;
  --colour-card-headline-text: whitesmoke;
  --colour-form-bg: #92b5d3;
  --colour-form-text: #4f0b0b;
  --colour-form-button-text: #e75353;
  --colour-cancel-button-bg: #626210;
  --colour-delete-button-bg: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  background-image: linear-gradient(
    to right top,
    #5d5f87,
    #3d658b,
    #0f6a86,
    #006d79,
    #006e64,
    #0c6f56,
    #227046,
    #376f33,
    #4a7230,
    #5a742f,
    #697630,
    #787832
  );
  display: flex;
  height: 80vh;
  overflow: hidden;
}

.colour-roles {
  margin: 300px 0 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50vh;
  z-index: 99;
  overflow: auto;
}

.add-colours-message {
  font-weight: bold;
  color: var(--colour-card-headline-text);
  margin-left: 25px;
}
